* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: capitalize;
  background: rgb(70, 177, 116);
  margin: 10px;
  border: 10px solid wheat;
  border-radius: 15px;

  text-align: center;
}
.h1 h1 {
  margin: 50px auto;
  margin-bottom: 20px;
  font-size: 2em;
  margin: 0 auto;
  background-color: wheat;

  border-radius: 40px;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
}
.h1 h1:hover {
  background-color: rgb(50, 180, 93);
  border: 3px solid wheat;
}
.p {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 30px;
}
.h2 {
  margin: 10px;
  margin: 0 auto;
  background-color: wheat;

  border-radius: 40px;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
}
.h2:hover {
  background-color: rgb(50, 180, 93);
  border: 3px solid wheat;
}
.form1 {
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  box-shadow: 0px 0px 15px 0px;
  margin: 50px auto;
  width: 190px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.form1 label {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  padding: 1px;
  font-weight: bold;
}
.form1 input {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  padding: 5px;
  font-weight: bold;
  width: 160px;
}
.form1 label:hover {
  background-color: rgb(50, 180, 93);
  cursor: pointer;
}
#submit:hover {
  background-color: rgb(8, 214, 77);
  cursor: pointer;
}

.form1 #submit {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  text-align: center;
}

.inputtypes h2 {
  margin: 0 auto;
  background-color: wheat;

  border-radius: 40px;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
}
.inputtypes table {
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 40px;
  box-shadow: 0px 0px 15px 0px;
  border-radius: 10px;
  padding: 15px;
  background: rgb(22, 146, 74);
  color: wheat;
  font-size: 15px;
  border: 2px black solid;
}
.inputtypes tr,
th,
td {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
}
.inputtypes th:hover {
  background-color: black;
  cursor: pointer;
}
.examples label {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 3px solid black;
  display: inline-block;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  box-shadow: 0px 0px 15px 0px;
}
#examples {
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  box-shadow: 0px 0px 15px 0px;
  margin: 50px auto;
  width: 190px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 350px;
}
#examples label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 23px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}
#examples input {
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  padding: 7px;
  padding-left: 100px;

  margin-top: 10px;
}
#examples #submit2 {
  text-transform: capitalize;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  margin: 5px auto;
  padding: 3px;
}
#examples label:hover {
  background-color: rgb(50, 180, 93);
  cursor: pointer;
}
#examples #submit2:hover {
  background-color: rgb(8, 214, 77);
  cursor: pointer;
}
